<div class="container">

    <h1>Employement History</h1>

    <div class="experiences">
        <div class="job">
            <div class="company px-3 text-center">
                <div class="logo">
                    <img src="assets/200dev.png" alt="" srcset="">
                </div>
                <strong>
                    200DEV
                </strong>
            </div>
            <div class="occupation-list">
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Crefisa</strong><br>
                        <sup class="ps-1">mar/23 - Present</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Marfrig</strong><br>
                        <sup class="ps-1">sep/22 - mar/23</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
            </div>
        </div>
        <div class="job">
            <div class="company px-3 text-center">
                <div class="logo">
                    <img src="assets/topsolid.png" alt="" srcset="">
                </div>
            </div>
            <div class="occupation-list">
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Crefisa</strong><br>
                        <sup class="ps-1">mar/23 - Present</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Marfrig</strong><br>
                        <sup class="ps-1">sep/22 - mar/23</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
            </div>
        </div>
        <div class="job">
            <div class="company px-3 text-center">
                <div class="logo">
                    <img src="assets/gmp-marcatto.png" alt="" srcset="">
                </div>
            </div>
            <div class="occupation-list">
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Crefisa</strong><br>
                        <sup class="ps-1">mar/23 - Present</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
                <div class="occupation">
                    <div class="position px-3">
                        <strong>.NET Senior Developer - Marfrig</strong><br>
                        <sup class="ps-1">sep/22 - mar/23</sup>
                    </div>
                    <div class="description ps-4 border-start">
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                        Lorem Ipsum dolor ahmet oaisdhoaiushdiuoahsuoihd
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>